{
    "qwen_api_key": "你的apikey",
    "doubao_api_key": "你的apikey",
    "xai_api_key": "你的apikey",
    "bizyair_api_key": "你的apikey",
    "deepseek_api_key": "你的apikey",
    "models": {
        "qwen": {
            "qwen3.5-plus": "qwen3.5-plus"
        },
        "qwen_image_edit": {
            "qwen-image-2.0-pro": "Qwen Image 2.0 Pro"
        },
        "doubao": {
            "Doubao-seed-2.0-Pro": "Doubao-seed-2.0-Pro"
        },
        "doubao_seedream5": {
            "doubao-seedream-4-5-251128": "豆包SEEDREAM 5"
        },
        "doubao_translation": {
            "doubao-seed-translation-250915": "豆包Seed翻译模型"
        },
        "xai": {
            "grok-2-vision-1212": "Grok 2 Vision 1212",
			"grok-4": "grok-4"
        },
        "deepseek": {
            "deepseek-chat": "DeepSeek Chat",
            "deepseek-reasoner": "DeepSeek Reasoner"
        }
    }
} 
