{
    "qwen_api_key": "你的apikey",
    "doubao_api_key": "你的apikey",
    "xai_api_key": "你的apikey",
    "gemini_api_key": "你的apikey",
    "openrouter_api_key": "你的apikey",
    "bizyair_api_key": "你的apikey",
    "deepseek_api_key": "你的apikey",
    "models": {
        "qwen": {
            "qwen3-vl-plus": "qwen3-vl-plus",
            "qwen3-vl-flash": "qwen3-vl-flash",
            "qwen3-vl-max": "qwen3-vl-max"
        },
        "qwen_llm": {
            "qwen3-max": "qwen3-max",
            "qwen3-plus": "qwen3-plus"
        },
        "qwen_image_edit": {
            "qwen-image-edit-plus": "Qwen Image Edit Plus"
        },
        "doubao": {
            "doubao-seed-1-6-vision-250815": "doubao-seed-1-6-vision-250815",
            "doubao-seed-1-6-flash-250828": "doubao-seed-1-6-flash-250828",
            "doubao-seed-1-6-251015": "doubao-seed-1-6-251015",
            "doubao-seed-1-8-251215": "doubao-seed-1-8-251228"
        },
        "doubao_translation": {
            "doubao-seed-translation-250915": "豆包Seed翻译模型"
        },
        "xai": {
            "grok-2-vision-1212": "Grok 2 Vision 1212",
			"grok-4": "grok-4"
        },
        "gemini": {
            "gemini-2.5-pro": "Gemini 2.5 pro",
            "gemini-2.5-flash": "Gemini 2.5 flash"
        },
        "deepseek": {
            "deepseek-chat": "DeepSeek Chat",
            "deepseek-reasoner": "DeepSeek Reasoner"
        }
    }
} 
