{
    "qwen_api_key": "你的apikey",
    "doubao_api_key": "你的apikey",
    "xai_api_key": "你的apikey",
    "gemini_api_key": "你的apikey",
    "openrouter_api_key": "你的apikey",
    "bizyair_api_key": "你的apikey",
    "models": {
        "qwen": {
            "qwen-vl-plus": "Qwen VL Plus",
            "qwen-vl-max": "Qwen VL Max"
        },
        "doubao": {
            "doubao-1-5-thinking-vision-pro-250428": "Doubao-1.5-thinking-vision-pro",
            "doubao-seed-1-6-250615": "豆包Seed1.6版"
        },

        "xai": {
            "grok-2-vision-1212": "Grok 2 Vision 1212",
			"grok-4": "grok-4"
        },
        "gemini": {
            "gemini-2.5-pro": "Gemini 2.5 pro",
            "gemini-2.5-flash": "Gemini 2.5 flash"
        }
    }
} 
